:root {
  --main-color: #38413d;
  --second-color: #d9d9d9;
  --valid-color: green;
  --opacity-color: linear-gradient(90deg, rgba(217, 217, 217, 1) 0%, rgba(217, 217, 217, 1) 0%, rgba(217, 217, 217, 0.8169468470982143) 0%);
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  /* background-image: url('/Bonnefete/src/public/assets/images/7158.jpg'); */
  background-size: 100%;
  background-attachment: fixed;
}

/* navbar */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  color: var(--second-color);
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar-brand {
  font-size: 2.7em;
}

.nav-user {
  font-size: 1.3em;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-img-user {
  width: 48px;
  margin-right: 5px;
}

.nav-user-id {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

img {
  width: 50px;
  margin-top: 5px;
}

/* form regiter and login */

form {
  border-radius: 5px;
  font-size: 1.3em;
  width: 50%;
  margin: 12% auto;
  background-color: var(--second-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: var(--main-color);
  margin: 1%;
}

input {
  border-radius: 2px;
  align-items: center;
  padding-left: 5px;
  background-color: var(--main-color);
}

.register {
  margin: 5% 0 2% 0;
  text-decoration: none;
  color: var(--main-color);
}

.create-account {
  margin: 5% 0 2% 0;
  text-decoration: none;
  color: var(--main-color);
}

button {
  color: var(--main-color);
  margin-top: 5%;
}

/* home page */

.btn-post {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 3;
  background-color: var(--second-color);
  border-radius: 10px;
  align-items: center;
  padding: 0 3px 4px 3px;
}

/* post create */

.post-create {
  background-color: var(--main-color);
  border: 15px solid var(--second-color);
  display: flex;
  width: 60%;
  margin: 10% auto 0 auto;
  padding-top: 1%;
}

.post-create label {
  color: var(--second-color);
}

.post-create input {
  color: var(--main-color);
}

#content {
  background-color: var(--second-color);
  color: var(--main-color);
  width: 400px;
  height: 220px;
  resize: none;
}

#title {
  background-color: var(--second-color);
  width: 400px;
}

#post {
  background-color: var(--second-color);
  color: var(--main-color);
  padding: 0.5%;
  border-radius: 5px;
}

#post:hover {
  color: var(--valid-color);
}

/* posts index */

.container {
  background: var(--opacity-color);
  width: 60%;
  margin: 3.3% auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 1% auto;
}

.card-body {
  border-radius: 0 0 5px 5px;
  width: 150%;
  background-color: var(--main-color);
}

.card-body p {
  border-radius: 4px;
  background-color: var(--second-color);
  padding: 1.5%;
  color: var(--main-color);
}

.card-header {
  border-radius: 5px 5px 0 0;
  background-color: var(--main-color);
  width: 150%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.card-header p {
  margin-right: 1%;
}

.card-user {
  color: var(--second-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5% 0.4%;
}

.card-user h3 {
  margin-left: 5px;
}
